<div class="" [formGroup]="formGroup">
    <div class="flex align-items-center mb-2">
        <div class="w-10rem">
            <span class="">Username</span>
        </div>
        <div class="">
            <input
                formControlName="username"
                type="text" pInputText
                class="w-24rem"
                placeholder="First Username"
                (input)="errorMessage=''">
        </div>
    </div>
    <div class="flex align-items-center">
        <div class="w-10rem">
            <span class="">Password</span>
        </div>
        <div class="">
            <p-password
                formControlName="password"
                inputStyleClass="w-24rem"
                placeholder="Password"
                [feedback]="false"
                [toggleMask]="true"
                (ngModelChange)="errorMessage=''">
            </p-password>
        </div>
    </div>
    <div class="text-center pt-2 h-2rem"><span class="text-red-500 text-sm">{{errorMessage}}</span></div>
    <div class="flex justify-content-end pt-2">
        <div class="mr-3">
            <p-button
                label="Cancel"
                [rounded]="true" [text]="true"
                (click)="onCancel()">
            </p-button>
        </div>
        <div class="">
            <p-button
                label="Submit"
                icon="pi pi-check"
                [disabled]="formGroup.invalid || inproccess || !!errorMessage"
                [rounded]="true" [outlined]="true"
                (click)="onSubmit()">
            </p-button>
        </div>
    </div>
</div>
