<p-table #table
    class="w-full h-full"
    [value]="tableValue"
    [scrollable]="true" scrollHeight="flex"  
    [virtualScroll]="true" [virtualScrollItemSize]="0">
    <ng-template pTemplate="caption">
        <div class="">
            <div class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                    #searchInput pInputText type="text"
                    class="w-30rem"
                    (input)="onSearchFilter(searchInput.value)"
                    placeholder="Search" />
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex justify-content-end">
            <div class="px-2">
                <p-button
                    icon="pi pi-plus text-xl"
                    styleClass="w-3rem h-3rem"
                    size="large"
                    [rounded]="true" [rounded]="true" [plain]="true"
                    (onClick)="onMessage('')">
                </p-button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th class="w-3rem"></th>
            <th class=""><div class=""><span class="">Type Name</span></div></th>
            <th class="article-type-provides-cell"><div class=""><span class="">Provides</span></div></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-articleType>
        <tr class="row">
            <td class="w-3rem">
                <p-button
                    icon="pi pi-pencil"
                    styleClass=""
                    [rounded]="true" [text]="true" [plain]="true"
                    (onClick)="onMessage('', articleType)">
                </p-button>
            </td>
            <td class=""><div class=""><span class="">{{articleType.name}}</span></div></td>
            <td class="article-type-provides-cell">
                <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" appTooltip [pTooltip]="articleType.displayProvides" tooltipPosition="top">
                    <span class="">{{articleType.displayProvides}}</span>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

