<p-table #table
    class="articles-table w-full h-full"
    [class.authorized]="authorized"
    [value]="tableValue"
    [scrollable]="true" scrollHeight="flex"
    [virtualScroll]="true" [virtualScrollItemSize]="0">
    <ng-template pTemplate="caption">
        <div class="flex justify-content-between align-items-center">
            <div class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                    #searchInput pInputText type="text"
                    class="w-30rem"
                    (input)="onSearchFilter(searchInput.value)"
                    placeholder="Search title, author and tag" />
            </div>
            <div class="">
                <p-button *ngIf="authorized"
                    icon="pi pi-download text-xl"
                    styleClass="text-xs w-2rem h-2rem"
                    [rounded]="true" [outlined]="true" [plain]="true"
                    pTooltip="Download Report" tooltipPosition="left"
                    (onClick)="onMessage(messageType.DownloadArticles)">
                </p-button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex justify-content-end">
            <div class="px-2">
                <p-button
                    icon="pi pi-plus text-xl"
                    styleClass="w-3rem h-3rem"
                    size="large"
                    [rounded]="true" [rounded]="true" [plain]="true"
                    (onClick)="onMessage(messageType.OpenAddAricleDialog)">
                </p-button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr class="">
            <th class="article-button-cell" *ngIf="authorized"></th>
            <th class="article-date-cell">
                <div class="flex align-items-center">
                    <div class="">
                        <span class="">Date</span>
                    </div>
                    <div class="" pSortableColumn="sortableDate">
                        <p-sortIcon field="sortableDate"></p-sortIcon>
                    </div>
                    <div class="">
                        <p-overlayPanel #dateOP>
                            <div class="flex align-items-center gap-2 mb-2">
                                <div class="w-4rem"><span class="">From</span></div>
                                <div class="">
                                    <p-calendar
                                        placeholder="Select Date"
                                        dateFormat="dd-M-yy" dataType="string"
                                        inputStyleClass="datepicker-input w-14rem"
                                        [showIcon]="true"
                                        [showClear]="true"
                                        appendTo="body"
                                        (onSelect)="onDateFilter({dateFrom: $event})"
                                        (onClear)="onDateFilter({dateFrom: null})">
                                    </p-calendar>
                                </div>
                            </div>
                            <div class="flex align-items-center gap-2">
                                <div class="w-4rem"><span class="">To</span></div>
                                <div class="">
                                    <p-calendar
                                        placeholder="Select Date"
                                        dateFormat="dd-M-yy" dataType="string"
                                        inputStyleClass="datepicker-input w-14rem"
                                        [showIcon]="true"
                                        [showClear]="true"
                                        appendTo="body"
                                        (onSelect)="onDateFilter({dateTo: $event})"
                                        (onClear)="onDateFilter({dateTo: null})">
                                    </p-calendar>
                                </div>
                            </div>
                        </p-overlayPanel>
                        <i class="pt-1 ml-2 pi pi-filter cursor-pointer" (click)="dateOP.toggle($event)"></i>
                    </div>
                </div>
            </th>
            <th class="article-type-cell" *ngIf="authorized">
                <div class="flex align-items-center">
                    <div class="">
                        <span class="">Type</span>
                    </div>
                    <div class="" pSortableColumn="articleTypeName">
                        <p-sortIcon field="articleTypeName"></p-sortIcon>
                    </div>
                    <div class="">
                        <p-overlayPanel #articleTypesOP>
                            <p-listbox
                                [options]="(articleTypes$ | async) || []"
                                optionValue="id"
                                optionLabel="name"
                                [multiple]="true"
                                [checkbox]="true"
                                [filter]="true"
                                (onChange)="onArticleTypesFilter($event)">
                            </p-listbox>
                        </p-overlayPanel>
                        <i class="pt-1 ml-2 pi pi-filter cursor-pointer" (click)="articleTypesOP.toggle($event)"></i>
                    </div>
                </div>
            </th>
            <th class="article-featured-cell" *ngIf="authorized">
                <div class="flex align-items-center">
                    <div class="">
                        <span class="">Featured</span>
                    </div>
                    <div class="" pSortableColumn="featured">
                        <p-sortIcon field="featured"></p-sortIcon>
                    </div>
                </div>
            </th>
            <th class="article-category-cell">
                <div class="flex align-items-center">
                    <div class="">
                        <span class="">Category</span>
                    </div>
                    <div class="" pSortableColumn="categoryName">
                        <p-sortIcon field="categoryName"></p-sortIcon>
                    </div>
                    <div class="">
                        <p-overlayPanel #categoriesOP>
                            <p-listbox
                                [options]="(categories$ | async) || []"
                                optionValue="id"
                                optionLabel="name"
                                [multiple]="true"
                                [checkbox]="true"
                                [filter]="true"
                                (onChange)="onCategoriesFilter($event)">
                            </p-listbox>
                        </p-overlayPanel>
                        <i class="pt-1 ml-2 pi pi-filter cursor-pointer" (click)="categoriesOP.toggle($event)"></i>
                    </div>
                </div>
            </th>
            <th class="article-source-cell" *ngIf="authorized">
                <div class="flex align-items-center">
                    <div class=""><span class="">Source</span></div>
                    <div class="" pSortableColumn="sourceName"><p-sortIcon field="sourceName"></p-sortIcon></div>
                    <div class="">
                        <p-overlayPanel #sourcesOP>
                            <p-listbox
                                [options]="(sources$ | async) || []"
                                optionValue="id"
                                optionLabel="name"
                                [multiple]="true"
                                [checkbox]="true"
                                [filter]="true"
                                (onChange)="onSourcesFilter($event)">
                            </p-listbox>
                        </p-overlayPanel>
                        <i class="pt-1 ml-2 pi pi-filter cursor-pointer" (click)="sourcesOP.toggle($event)"></i>
                    </div>
                </div>
            </th>
            <th class="article-author-cell">
                <div class="flex align-items-center">
                    <div class="">
                        <span class="">Author</span>
                    </div>
                    <div class="" pSortableColumn="authorName">
                        <p-sortIcon field="authorName"></p-sortIcon>
                    </div>
                </div>
            </th>
            <th class="article-title-cell">
                <div class="flex align-items-center">
                    <div class="">
                        <span class="">Title</span>
                    </div>
                    <div class="" pSortableColumn="title">
                        <p-sortIcon field="title"></p-sortIcon>
                    </div>
                </div>
            </th>
            <th class="article-subject-cell">
                <div class="flex align-items-center">
                    <div class="">
                        <span class="">Subject</span>
                    </div>
                    <div class="" pSortableColumn="subject">
                        <p-sortIcon field="subject"></p-sortIcon>
                    </div>
                </div>
            </th>
            <th class="article-edition-cell">
                <div class="flex align-items-center">
                    <div class="">
                        <span class="">Issue Date</span>
                    </div>
                    <div class="" pSortableColumn="sortableEdition">
                        <p-sortIcon field="sortableEdition"></p-sortIcon>
                    </div>
                    <div class="">
                        <p-overlayPanel #editionOP>
                            <div class="flex align-items-center gap-2 mb-2">
                                <div class="w-4rem"><span class="">From</span></div>
                                <div class="">
                                    <p-calendar
                                        placeholder="Select Date"
                                        dateFormat="dd-M-yy" dataType="string"
                                        inputStyleClass="datepicker-input w-14rem"
                                        [showIcon]="true"
                                        [showClear]="true"
                                        appendTo="body"
                                        (onSelect)="onDateFilter({issueDateFrom: $event})"
                                        (onClear)="onDateFilter({issueDateFrom: null})">
                                    </p-calendar>
                                </div>
                            </div>
                            <div class="flex align-items-center gap-2">
                                <div class="w-4rem"><span class="">To</span></div>
                                <div class="">
                                    <p-calendar
                                        placeholder="Select Date"
                                        dateFormat="dd-M-yy" dataType="string"
                                        inputStyleClass="datepicker-input w-14rem"
                                        [showIcon]="true"
                                        [showClear]="true"
                                        appendTo="body"
                                        (onSelect)="onDateFilter({issueDateTo: $event})"
                                        (onClear)="onDateFilter({issueDateTo: null})">
                                    </p-calendar>
                                </div>
                            </div>
                        </p-overlayPanel>
                        <i class="pt-1 ml-2 pi pi-filter cursor-pointer" (click)="editionOP.toggle($event)"></i>
                    </div>
                </div>
            </th>
            <th class="article-button-cell" *ngIf="authorized"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-article>
        <tr class="article-row relative">
            <td class="article-button-cell" *ngIf="authorized">
                <p-button
                    icon="pi pi-pencil"
                    styleClass=""
                    [rounded]="true" [text]="true" [plain]="true"
                    (onClick)="onMessage(messageType.OpenEditAricleDialog, article)">
                </p-button>
            </td>
            <td class="article-date-cell">
                <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis">
                    <span class="">{{article.date | date : 'dd MMM yyyy'}}</span>
                </div>
                <div class="opacity-60 absolute left-0 right-0 bottom-0 mb-1 px-3 white-space-nowrap overflow-hidden text-overflow-ellipsis" *ngIf="article.tags.length">
                    <i class="pi pi-tag text-xs"></i>
                    @for (tag of article.tags; track $index) {
                        <span class="text-xs px-2">{{tag}}</span>
                    }
                </div>
            </td>
            <td class="article-type-cell" *ngIf="authorized">
                <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" appTooltip [pTooltip]="article.articleTypeName" tooltipPosition="top">
                    <span class="">{{article.articleTypeName}}</span>
                </div>
            </td>
            <td class="article-featured-cell" *ngIf="authorized">
                <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" appTooltip [pTooltip]="article.featured" tooltipPosition="top">
                    <span class="">{{article.featured}}</span>
                </div>
            </td>
            <td class="article-category-cell">
                <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" appTooltip [pTooltip]="article.categoryName" tooltipPosition="top">
                    <span class="">{{article.categoryName}}</span>
                </div>
            </td>
            <td class="article-source-cell" *ngIf="authorized">
                <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" appTooltip [pTooltip]="article.sourceName" tooltipPosition="top">
                    <span class="">{{article.sourceName}}</span>
                </div>
            </td>
            <td class="article-author-cell">
                <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" appTooltip [pTooltip]="article.authorName" tooltipPosition="top">
                    <a [href]="article.authorLink" class="text-color no-underline hover:underline" target="_blank">{{article.authorName}}</a>
                </div>
            </td>
            <td class="article-title-cell">
                <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" appTooltip [pTooltip]="article.title" tooltipPosition="top">
                    <a [href]="article.link" class="text-color no-underline hover:underline" target="_blank">{{article.title}}</a>
                </div>
            </td>
            <td class="article-subject-cell">
                <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" appTooltip [pTooltip]="article.subject" tooltipPosition="top">
                    <span class="">{{article.subject}}</span>
                </div>
            </td>
            <td class="article-edition-cell">
                <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis">
                    <span class="">{{article.edition | date : 'dd MMM YYYY'}}</span>
                </div>
            </td>
            <td class="article-button-cell" *ngIf="authorized">
                <p-button
                    icon="pi pi-trash"
                    styleClass=""
                    [rounded]="true" [text]="true" [plain]="true"
                    (onClick)="onMessage(messageType.RemoveArticle, article)">
                </p-button>
            </td>
        </tr>
    </ng-template>
</p-table>
